a {
  color: #0099cc; /*#0099cc; */ /*#14A098;*/ /*#0099cc;*/
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f18800; /* #f18800; */
  text-decoration: none;
}

.header {
  overflow: hidden;
  background-color: transparent;
  padding: 10px 10px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 27px;
  font-weight: bold;
}

/* Float the link section to the right */
.header-right {
  float: right;
}